@import url(styless/header.css);
@import url(styless/banner.css);

:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --amarelo: #fbff00;
    --roxo: #74214afa; 
    --font-principal:"Poppins";
    --font-secundaria: "Josefin Sans";
    --preto: #000000;
}
body{
background-color: var(--cor-de-fundo);
font-family: var(--font-principal);
font-size: 16px;
font-weight: 400;
}
